# This is a configuration definition file for the example "SimpleBox".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Quadrotor

Name: # Configuration name
Untitled configuration

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
GotoStart = share.dummySensor.buttonPress(button_name="GotoStart",init_value=False)
Right = Quadrotor.QuadrotorSensor.isRight()
TrackRed = Quadrotor.QuadrotorSensor.trackColor(hueMin=140,hueMax=180)
Below = Quadrotor.QuadrotorSensor.isBelow()
Above = Quadrotor.QuadrotorSensor.isAbove()
GotoEnd = share.dummySensor.buttonPress(button_name="GotoEnd",init_value=False)
Left = Quadrotor.QuadrotorSensor.isLeft()


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
QuadrotorActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 185.89540615,   16.19572535,  355.53704106],
       [  -1.88828192, -222.74523357,  373.46305415],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
QuadrotorDrive()

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
QuadrotorInit()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
QuadrotorLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="Quadrotor01:Quadrotor01 <t-X>",y_VICON_name="Quadrotor01:Quadrotor01 <t-Y>",theta_VICON_name="Quadrotor01:Quadrotor01 <a-Z>",z_VICON_name="None")

RobotName: # Robot Name
Quadrotor

SensorHandler: # Sensor handler file in robots/Type folder
QuadrotorSensor()

Type: # Robot type
Quadrotor

